altgraph==0.17.4
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
idna==3.7
instaloader==4.11
neat-python==0.92
packaging==24.1
Panda3D==1.10.14
pefile==2023.2.7
pillow==10.3.0
psutil==5.9.8
pygame==2.5.2
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
PyOpenGL==3.1.7
PyOpenGL-accelerate==3.1.7
pywin32-ctypes==0.2.2
requests==2.32.3
setuptools==70.0.0
sqlmap==1.8.5
urllib3==2.2.1
